/* RESET */
*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:#f5efe6;
}


/* ---------------- HEADER ---------------- */

.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 60px;
background:#eaeaea;
}

.logo{
display:flex;
align-items:center;
gap:12px;
font-weight:700;
color:#a855f7;
font-size:22px;
}

.logo img{
width:42px;
}

nav a{
text-decoration:none;
margin:0 14px;
color:#333;
font-weight:500;
transition:.3s;
}

nav a:hover{
color:#ff6fa5;
}

.btn-topo{
background:#ff6fa5;
border:none;
padding:12px 22px;
border-radius:30px;
color:white;
font-weight:600;
cursor:pointer;
}



/* ---------------- HERO ---------------- */

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:70px 70px;
}

.texto{
max-width:540px;
}

.texto h1{
font-size:58px;
line-height:1.1;
color:#8d5cf6;
}

.texto h1 span{
color:#ff6fa5;
}

.texto p{
margin:25px 0;
color:#555;
line-height:1.8;
}

.botoes{
display:flex;
gap:18px;
margin-top:30px;
}

.btn-rosa{
background:#ff6fa5;
color:white;
border:none;
padding:15px 25px;
border-radius:30px;
cursor:pointer;
font-weight:600;
}

.btn-busca{
background:#ededed;
border:none;
padding:15px 25px;
border-radius:30px;
cursor:pointer;
font-weight:600;
}



/* --------------- NÚMEROS --------------- */

.infos{
display:flex;
gap:70px;
margin-top:50px;
}

.infos h3{
font-size:34px;
color:#2bbbad;
}

.infos p{
font-size:15px;
color:#555;
}


/* --------------- IMAGEM HERO --------------- */

.imagem{
position:relative;
}

.imagem img{
width:450px;
height:520px;
object-fit:cover;
border-radius:35px;
}

.imagem::before{
content:"";
position:absolute;
background:#2bbbad;
width:100%;
height:100%;
left:-15px;
top:15px;
border-radius:35px;
z-index:-1;
}



/* ---------------- FILTROS ---------------- */

.filtros{
display:flex;
justify-content:center;
gap:20px;
background:white;
padding:35px;
margin:40px;
border-radius:20px;
box-shadow:0 4px 15px rgba(0,0,0,.08);
}

.filtros select{
padding:14px;
width:250px;
border-radius:12px;
border:1px solid #ccc;
font-family:Poppins;
}



/* ---------------- PETS GRID ---------------- */

.pets-lista{
display:grid;
grid-template-columns:repeat(3,300px);
gap:35px;
justify-content:center;
padding:50px;
}

.pet-card{
background:white;
border-radius:22px;
padding:15px;
position:relative;
box-shadow:0 4px 15px rgba(0,0,0,.08);
transition:.3s;
}

.pet-card:hover{
transform:translateY(-5px);
}

.pet-card img{
width:100%;
height:220px;
object-fit:cover;
border-radius:16px;
}

.tag{
position:absolute;
top:20px;
left:20px;
background:#ff6fa5;
color:white;
padding:6px 12px;
border-radius:20px;
font-size:12px;
}

.idade{
position:absolute;
top:20px;
right:20px;
background:white;
padding:6px 12px;
border-radius:15px;
font-size:12px;
}

.pet-card h3{
margin-top:20px;
font-size:24px;
color:#243b63;
}

.pet-card p{
margin-top:8px;
color:#555;
}

.tags{
margin-top:15px;
display:flex;
flex-wrap:wrap;
gap:10px;
}

.tags span{
background:#eee;
padding:8px 12px;
border-radius:18px;
font-size:12px;
}

.status{
margin-top:15px;
display:flex;
flex-direction:column;
gap:8px;
font-size:13px;
color:#8d5cf6;
}



/* ---------------- PÁGINAS DETALHES ---------------- */

.pet-page{
background:#f5efe6;
}

.detalhe-pet{
display:flex;
min-height:100vh;
}

.pet-foto{
width:50%;
}

.pet-foto img{
width:100%;
height:100%;
object-fit:cover;
display:block;
}

.pet-info{
width:50%;
background:white;
padding:60px;
}

.top-info{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:15px;
}

.top-info h1{
font-size:55px;
color:#243b63;
}

.tipo{
background:#ffe3f0;
color:#ff6fa5;
padding:10px 22px;
border-radius:30px;
font-weight:600;
}

.pet-info h2{
color:#444;
font-weight:500;
margin-bottom:25px;
}

.cidade{
font-size:18px;
margin-bottom:30px;
}

.descricao{
line-height:1.9;
color:#555;
margin-bottom:40px;
max-width:550px;
}

.atributos{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
margin-bottom:40px;
}

.box{
background:#f8f8f8;
padding:25px;
border-radius:18px;
}

.box p{
color:#777;
margin-bottom:10px;
}

.box h3{
font-size:28px;
color:#243b63;
}

.temperamento-titulo{
margin-bottom:20px;
color:#243b63;
}

.temperamento{
display:flex;
flex-wrap:wrap;
gap:15px;
margin-bottom:35px;
}

.temperamento span{
background:#fff0c8;
padding:12px 20px;
border-radius:25px;
}

.adotar-btn{
width:100%;
padding:22px;
background:#ff6fa5;
border:none;
color:white;
font-size:24px;
font-weight:700;
border-radius:18px;
cursor:pointer;
}

.adotar-btn:hover{
opacity:.92;
}



/* ---------------- FOOTER ---------------- */

footer{
text-align:center;
padding:35px;
background:#eee;
margin-top:50px;
}



/* ---------------- RESPONSIVO ---------------- */

@media(max-width:1100px){

.hero{
flex-direction:column;
text-align:center;
}

.imagem{
margin-top:50px;
}

.infos{
justify-content:center;
}

.pets-lista{
grid-template-columns:repeat(2,300px);
}

.detalhe-pet{
flex-direction:column;
}

.pet-foto,
.pet-info{
width:100%;
}

}

@media(max-width:700px){

.header{
flex-direction:column;
gap:20px;
}

nav{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.texto h1{
font-size:42px;
}

.botoes{
flex-direction:column;
}

.filtros{
flex-direction:column;
align-items:center;
}

.pets-lista{
grid-template-columns:1fr;
justify-items:center;
}

.infos{
flex-direction:column;
gap:30px;
}

.top-info h1{
font-size:42px;
}

}
/* FORMULÁRIO */

.formulario-area{
display:flex;
justify-content:center;
padding:70px 20px;
}

.form-box{
background:white;
width:760px;
padding:50px;
border-radius:30px;
box-shadow:0 8px 30px rgba(0,0,0,.08);
}

.form-box h1{
font-size:42px;
color:#243b63;
margin-bottom:10px;
}

.form-box p{
color:#666;
margin-bottom:35px;
}

form{
display:flex;
flex-direction:column;
}

label{
font-weight:600;
margin-top:20px;
margin-bottom:10px;
color:#243b63;
}

input,
select,
textarea{
padding:18px;
border:1px solid #d8d8d8;
border-radius:14px;
font-family:Poppins;
font-size:16px;
outline:none;
}

input:focus,
select:focus,
textarea:focus{
border:2px solid #ff6fa5;
}

textarea{
resize:none;
}

.botoes-form{
display:flex;
gap:20px;
margin-top:40px;
}

.cancelar{
background:#efefef;
color:#555;
border:none;
padding:18px 35px;
border-radius:14px;
font-weight:600;
cursor:pointer;
}

.enviar{
background:#ff6fa5;
color:white;
border:none;
padding:18px 35px;
border-radius:14px;
font-weight:700;
cursor:pointer;
}

.enviar:hover{
opacity:.9;
}
/* SOBRE NÓS */

.sobre-hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:70px;
background:#f5efe6;
}

.badge{
background:#ff6fa5;
color:white;
padding:10px 18px;
border-radius:30px;
font-weight:600;
font-size:14px;
}

.sobre-texto{
max-width:550px;
}

.sobre-texto h1{
font-size:60px;
line-height:1.1;
margin:30px 0;
color:#8d5cf6;
}

.sobre-texto h1 span{
color:#ff6fa5;
}

.sobre-texto p{
line-height:1.9;
color:#555;
margin-bottom:20px;
}

.sobre-img{
position:relative;
}

.sobre-img img{
width:620px;
border-radius:35px;
}

.sobre-img::before{
content:"";
position:absolute;
background:#2bbbad;
width:100%;
height:100%;
left:-18px;
top:18px;
border-radius:35px;
z-index:-1;
}

.valores{
display:flex;
gap:35px;
margin-top:45px;
}

.valor{
text-align:center;
}

.icone{
width:70px;
height:70px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:30px;
margin:auto auto 15px;
}

.rosa{
background:#ffdce9;
}

.roxo{
background:#e8dbff;
}

.verde{
background:#d8f4ef;
}



/* PROPOSITO */

.proposito{
padding:60px 70px;
text-align:center;
}

.proposito h2{
font-size:48px;
color:#8d5cf6;
margin-bottom:20px;
}

.proposito p{
max-width:760px;
margin:auto;
line-height:1.8;
color:#555;
}

.cards-proposito{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
margin-top:60px;
}

.card-prop{
background:white;
padding:35px;
border-radius:25px;
box-shadow:0 4px 15px rgba(0,0,0,.05);
}

.icone-card{
width:75px;
height:75px;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:32px;
margin:0 auto 20px;
}

.card-prop h3{
margin-bottom:15px;
color:#243b63;
}



/* CTA */

.cta-sobre{
margin:70px;
background:#ffe7f0;
padding:45px 60px;
border-radius:30px;
display:flex;
justify-content:space-between;
align-items:center;
}

.cta-sobre h3{
font-size:34px;
color:#ff6fa5;
margin-bottom:12px;
}

.cta-sobre button{
background:#ff6fa5;
color:white;
border:none;
padding:18px 35px;
border-radius:30px;
font-weight:600;
cursor:pointer;
}

footer{
text-align:center;
padding:35px;
background:#eee;
margin-top:60px;
}



/* responsivo */

@media(max-width:1100px){

.sobre-hero{
flex-direction:column;
text-align:center;
}

.sobre-img{
margin-top:60px;
}

.valores{
justify-content:center;
flex-wrap:wrap;
}

.cards-proposito{
grid-template-columns:repeat(2,1fr);
}

.cta-sobre{
flex-direction:column;
gap:30px;
text-align:center;
}

}

@media(max-width:700px){

.cards-proposito{
grid-template-columns:1fr;
}

.sobre-texto h1{
font-size:42px;
}

.sobre-img img{
width:100%;
}

}