body{
margin:0;
font-family:'Poppins', sans-serif;
background:#f5efe6;
}

/* HEADER */
.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 60px;
background:#eaeaea;
}

.logo{
display:flex;
align-items:center;
gap:10px;
font-weight:700;
color:#a855f7;
}

.logo img{
width:40px;
}

nav a{
margin:0 15px;
text-decoration:none;
color:#333;
}

.btn-topo{
background:#ff6fa5;
color:white;
border:none;
padding:10px 20px;
border-radius:25px;
cursor:pointer;
}

/* HERO */
.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:60px;
}

.texto{
max-width:500px;
}

.texto h1{
font-size:55px;
color:#a855f7;
}

.texto span{
color:#ff6fa5;
}

.texto p{
margin:20px 0;
color:#444;
}

/* BOTÕES */
.botoes{
display:flex;
gap:15px;
}

.btn-rosa{
background:#ff6fa5;
color:white;
border:none;
padding:14px 22px;
border-radius:30px;
cursor:pointer;
}

.btn-busca{
background:#eee;
border:none;
padding:14px 22px;
border-radius:30px;
cursor:pointer;
}

/* INFOS */
.infos{
display:flex;
gap:60px;
margin-top:40px;
}

.infos h3{
font-size:32px;
color:#2bbbad;
margin:0;
}

.infos p{
font-size:14px;
color:#555;
}

/* IMAGEM */
.imagem{
position:relative;
}

.imagem img{
width:420px;
border-radius:30px;
}

.imagem::before{
content:"";
position:absolute;
width:100%;
height:100%;
background:#2bbbad;
border-radius:30px;
top:10px;
left:-10px;
z-index:-1;
}

/* FILTROS */
.filtros{
display:flex;
gap:20px;
padding:30px;
justify-content:center;
background:#fff;
border-radius:15px;
margin:40px;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.filtros input,
.filtros select{
padding:12px;
border-radius:10px;
border:1px solid #ccc;
width:250px;
}

.pets-lista{
display:grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap:30px;
padding:40px;
}

.pet-card{
background:white;
border-radius:20px;
padding:15px;
width:300px; /* largura fixa */
box-shadow:0 4px 15px rgba(0,0,0,0.1);
position:relative;
}

.pet-card img{
width:100%;
height:220px; /* altura maior = formato retangular */
object-fit:cover;
border-radius:15px;
}
.tag{
position:absolute;
top:15px;
left:15px;
background:#ff6fa5;
color:white;
padding:5px 10px;
border-radius:15px;
font-size:12px;
}

.idade{
position:absolute;
top:15px;
right:15px;
background:#eee;
padding:5px 10px;
border-radius:10px;
font-size:12px;
}

.tags{
margin-top:10px;
}

.tags span{
background:#eee;
padding:5px 8px;
border-radius:10px;
margin-right:5px;
font-size:12px;
}

.status{
margin-top:10px;
font-size:12px;
color:#a855f7;
}

/* RESPONSIVO */
@media(max-width:900px){
.hero{
flex-direction:column;
text-align:center;
}

.imagem img{
width:100%;
margin-top:20px;
}

.infos{
justify-content:center;
}

.filtros{
flex-direction:column;
align-items:center;
}
}